@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
:root {
  --maxw: 1440px;
  --fon1: "Roboto", sans-serif;
  --ColorPrimario: #00669f;
  --ColorSecundario: #1cd1b0;
  --ColorTerceario: #000000;
  --ColorQuaternario: #001d2d;
  --ColorQuinario: #333333;
  --ColorSextario: #222222;
  --ColorSeptimoario: #2c0187;
  --ColorOctarioario: #888888;
  --ColorNovenoario: #ffffff;
  --ColorDecimoario: #f3f3f3;
  --ColorOnceario: #fff9f9;
  --backgroundImg: rgb(236, 221, 221);
  --Pshadow1: 0px 10px 7px rgb(0 0 0 / 25%);
  --Pshadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fon1);
  font-weight: 300px;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* ****************HEADER******************* */

header {
  display: flex;
  justify-content: space-around;
}

.headercontenedor {
  max-width: var(--maxw);
  width: 100%;
}

.headerDivTop {
  background-color: var(--ColorSecundario);
  padding: 5px 0 5px 15px;
}
.headerDivTop h3 {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.headerDivMain {
  background-color: var(--ColorPrimario);
  display: flex;
  align-items: center;
  padding: 5px 0 5px 5px;
  gap: 15px;
}
.headerDivMain h1 {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: var(--ColorNovenoario);
}

.headerDivBottom {
  background-color: var(--ColorQuaternario);
  padding: 10px 25px 10px 0px;
}

.headerDivBottom ul {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}
.headerDivBottom li a {
  color: var(--ColorNovenoario);
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

/* **********************MAIN*************************** */

main {
  display: flex;
  justify-content: space-around;
}

.maincontenedor {
  max-width: var(--maxw);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8%;
  gap: 5%;
  flex-wrap: wrap;
}

.maincontenedor .divbtnmas {
  background-color: var(--ColorPrimario);
  max-height: 50%;
  max-width: 50%;
  padding: 1.5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60%;
  right: 8%;
}
.divbtnmas i {
  font-size: 40px;
  color: #ffffff;
}

.maincontenedor .mainconttarge {
  background-color: var(--ColorDecimoario);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 529px;
  padding-bottom: 25px;
  box-shadow: var(--Pshadow2);
}

.mainconttarge .targefond1 {
  background-image: url(../img/Guaridadebatman.png);
}
.mainconttarge .targefoto1 {
  background-image: url(../img/batman.png);
}
.mainconttarge .targefond2 {
  background-image: url(../img/fondoHarleyQuinn.png);
}
.mainconttarge .targefoto2 {
  background-image: url(../img/HarleyQuinn.png);
}
.mainconttarge .targefond3 {
  background-image: url(../img/Guaridadebatman.png);
}
.mainconttarge .targefoto3 {
  background-image: url(../img/batman.png);
}

.mainconttarge .targebanner {
  background-color: var(--backgroundImg);
  /* background-image: url(../img/Guaridadebatman.png); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 193px;
  border-radius: 16px 16px 0px 0px;
  padding: 15px;
}
.mainconttarge .targefoto {
  background-color: var(--backgroundImg);
  /* background-image: url(../img/batman.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  top: -50px;
}
.mainconttarge .targenombre {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: var(--ColorTerceario);
}
.mainconttarge .targetexto {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--ColorQuinario);
  text-align: justify;
  padding: 17px;
}
.mainconttarge .targetexto p {
}
.mainconttarge .targebtn {
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--ColorDecimoario);
  background-color: var(--ColorPrimario);
  padding: 15px 30px 15px 30px;
  border-radius: 1%;
}

/* ************FORMULARIOS************************ */
.formcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 35%;
}
.formtituloprinc {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.formtituloprinc h1 {
  font-family: Inter;
  font-size: 72px;
  text-align: center;
  color: var(--ColorQuinario);
}
.formcont form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 5%;
  margin-top: 7%;
}
.formcont form input,
select,
label {
  max-width: 110%;
  width: 100%;
  max-height: 100%;
  background: var(--ColorNovenoario);
  border: 1.53407px solid #000000;
  box-sizing: border-box;
  font-family: Karla;
  font-size: 20px;
  line-height: 25px;
  color: var(--ColorTerceario);
  padding: 3%;
}
.formcont form a {
  font-family: Karla;
  line-height: 28px;
  color: var(--ColorPrimario);
}
.formcont form span {
  color: var(--ColorSextario);
}

.formcont textarea {
  max-width: 100%;
  width: 100%;
  border: none;
}
.formcont .btn {
  border-radius: 23.011px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-top: 5%;
  border: none;
}

.formcont .formcontbtn {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;
  flex-direction: row;
  gap: 7px;
}
.formcontbtn input[type="reset"] {
  background: var(--ColorOctarioario);
  color: var(--ColorNovenoario);
}
.formcontbtn input[type="submit"] {
  background: var(--ColorSecundario);
  color: var(--ColorTerceario);
}

/* 
************Formulario login**************** */

.maincontlogin [type="submit"] {
  background: var(--ColorSecundario);
  color: var(--ColorTerceario);
}

/* 
************Formulario Registro**************** */

.maincontreg form {
  margin-top: 15%;
}

.maincontreg .formregbtn {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;
  flex-direction: row;
  gap: 7px;
}
.formregbtn input[type="reset"] {
  background: var(--ColorOctarioario);
  color: var(--ColorNovenoario);
}
.formregbtn input[type="submit"] {
  background: var(--ColorSecundario);
  color: var(--ColorTerceario);
}

/* ****************FOOTER*********************** */

footer {
  display: flex;
  justify-content: center;
}

.footercontenedor {
  max-width: var(--maxw);
  background-color: var(--ColorPrimario);
  width: 100%;
  display: flex;
  padding: 1%;
  justify-content: center;
}
.footercontenedor h3 {
  color: var(--ColorOnceario);
  font-family: var(--fon1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

/* ************************************
***********MEDIA QUERIES************
************************************ */

@media screen and (max-width: 768px) {
  .maincontenedor .divbtnmas {
    top: 50%;
    right: 2%;
  }
  .maincontenedor .mainconttarge {
    margin-bottom: 35px;
  }

  /* *********Login************* */
  .formcont {
    width: 50%;
  }
  .formtituloprinc h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 468px) {
  .headerDivTop {
    padding: 5px 0 5px 5px;
    display: flex;
    justify-content: space-around;
  }
  .headerDivBottom {
    padding: 10px 0 10px 0px;
  }

  .headerDivBottom ul {
    justify-content: space-evenly;
  }

  /* *********Login************* */
  .formcont {
    width: 80%;
  }
  .formtituloprinc h1 {
    font-size: 40px;
  }
}
